In [ ]:
# 라이브러리 사용
import pandas as pd

In [ ]:
# 레모네이드 데이터를 준비합니다
filePath1 =  'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(filePath1)
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
# 보스턴 데이터를 준비합니다
filePath2= 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(filePath2)
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 아이리스 데이터를 준비합니다
filePath3 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(filePath3)
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [ ]:
# 모델을 만듭니다
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [ ]:
# 칼럼이름을 확인합니다
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [ ]:
# lemonade 독립변수, 종속변수
dpt = lemonade[['온도']]
indpt = lemonade[['판매량']]
print(dpt.shape, indpt.shape)

(6, 1) (6, 1)

In [ ]:
# boston 독립변수, 종속변수
dpt = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
indpt = boston[['medv']]
print(dpt.shape, indpt.shape)

(506, 13) (506, 1)

In [ ]:
# iris 독립변수, 종속변수
dpt = iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
indpt = iris[['품종']]
print(dpt.shape, indpt.shape)

(150, 4) (150, 1)